In [1]:
import nltk
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from SpamClassifier import SpamClassifier, metrics, process_message
from sklearn.metrics import classification_report
%matplotlib inline

In [2]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/ronn/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
train_path = './TrainingSet/sms-hamspam-train.csv'
test_path = './TestSet/sms-hamspam-test.csv'

In [4]:
sms_data = pd.read_csv(train_path, sep='\t', names=["label", "message"])
sms_data.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1  spam  SMSSERVICES. for yourinclusive text credits, p...
2  spam  25p 4 alfie Moon's Children in need song on ur...
3  spam  U have a secret admirer. REVEAL who thinks U R...
4  spam  Dear Voucher Holder, To claim this weeks offer...

In [5]:
sms_test = pd.read_csv(test_path, sep='\t', names=["message", "label"])
sms_test = sms_test[["label", "message"]]
sms_test.head()

   label                                            message
0    NaN           I know that my friend already told that.
1    NaN                             It took Mr owl 3 licks
2    NaN                                  Dunno y u ask me.
3    NaN                         K.k:)advance happy pongal.
4    NaN  I know but you need to get hotel now. I just g...

In [6]:
sms_data['label'] = sms_data['label'].map({'ham': 0, 'spam': 1})
sms_data.head()

   label                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      1  SMSSERVICES. for yourinclusive text credits, p...
2      1  25p 4 alfie Moon's Children in need song on ur...
3      1  U have a secret admirer. REVEAL who thinks U R...
4      1  Dear Voucher Holder, To claim this weeks offer...

### Separando dados de treino e teste

In [7]:
trainIndex, testIndex = list(), list()
for i in range(sms_data.shape[0]):
    if np.random.uniform(0, 1) < 0.75:
        trainIndex += [i]
    else:
        testIndex += [i]
trainData = sms_data.loc[trainIndex]
testData = sms_data.loc[testIndex]

In [8]:
trainData.reset_index(inplace = True)
trainData.drop(['index'], axis = 1, inplace = True)
#trainData.head()

In [9]:
testData.reset_index(inplace = True)
testData.drop(['index'], axis = 1, inplace = True)
#testData.head()

### Treinando o modelo

In [11]:
sc_tf_idf = SpamClassifier(trainData, 'tf-idf')
sc_tf_idf.train()
preds_tf_idf = sc_tf_idf.predict(testData['message'])
metrics(testData['label'], preds_tf_idf)

Precision:  0.9537037037037037
Recall:  0.6560509554140127
F-score:  0.7773584905660377
Accuracy:  0.94874022589053

### Testando e salvando a classificação no CSV

In [12]:
for index, row in sms_test.iterrows():
    pm = process_message(row['message'])
    spam = sc_tf_idf.classify(pm)
    if spam:
        sms_test.loc[index, 'label'] = 'spam'
    else:
        sms_test.loc[index, 'label'] = 'ham'

In [13]:
sms_test.to_csv('result.csv', index=False)
sms_test.head()

  label                                            message
0   ham           I know that my friend already told that.
1   ham                             It took Mr owl 3 licks
2   ham                                  Dunno y u ask me.
3   ham                         K.k:)advance happy pongal.
4   ham  I know but you need to get hotel now. I just g...